.LearningBackground-color{
  background-color: #FCFFE6;
  border-radius: 30px;

}

.library-bg{
  background-color: #d9f0f6;
  border-radius: 50px;
}

.library-button{
  background-color: white;
  padding: 18px 40px;
  border-radius: 30px;
}